@use "../../functions" as fnc;

.work {
  width: min(fnc.rem(1440), 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: fnc.rem(108);

  .title {
    font-size: clamp(fnc.rem(27), 4vw, fnc.rem(48));
    color: var(--color-primary-200);

    @include fnc.breakpoint-up(large) {
      align-self: start;
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include fnc.breakpoint-up(medium) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .card {
    width: max(fnc.rem(375), 50%);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    img {
      width: max(fnc.rem(360), 100%);
      height: max(fnc.rem(360), 100%);
    }

    @include fnc.breakpoint-up(medium) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      flex: 100%;

      &:first-child {
        .bottom_wrapper {
          order: -1;
        }
      }
      &:nth-child(2) {
        .bottom_wrapper {
          order: -1;
        }
      }
    }
    @include fnc.breakpoint-up(large) {
      flex: 50%;
    }
  }

  .bottom_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: fnc.rem(188);
    padding: fnc.rem(24);
    gap: 2rem;

    @include fnc.breakpoint-up(medium) {
      flex-shrink: 0;
      justify-content: center;
      width: fnc.rem(360);
      min-height: fnc.rem(360);
    }

    a {
      color: var(--color-neutral-100);
      text-decoration: underline;
      &:hover {
        color: var(--color-hover);
      }
    }
  }

  .text {
    text-align: center;
    font-size: fnc.rem(22);
  }

  .tech_wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-200);
    width: fnc.rem(40);
    height: fnc.rem(40);
    border-radius: fnc.rem(5);
    img {
      width: fnc.rem(20);
      height: auto;
    }
  }

  hr {
    width: 100%;
  }

  .button_wrapper {
    display: flex;
    gap: 1rem;
    button {
      min-width: fnc.rem(84);
      font-size: fnc.rem(18);
      background-color: var(--color-neutral-100);
      color: var(--color-primary-100);
      transition: all 350ms ease;

      &:hover {
        background-color: var(--color-hover);
        color: var(--color-bg);
      }
    }
  }

  > button {
    margin-top: fnc.rem(24);
    width: min(75%, fnc.rem(275));
    font-size: fnc.rem(20);
  }
}
