@use "/functions" as fnc;

.readme {
  width: min(100%, fnc.rem(1110));

  * + h2,
  * + h3 {
    margin-top: 1.5em;
  }

  h2 {
    text-align: center;

    @include fnc.breakpoint-up(medium) {
      text-align: left;
    }
  }

  h2,
  h3 {
    margin-bottom: fnc.rem(24);
  }

  .back {
    font-size: fnc.rem(16);
    color: var(--color-primary-100);
  }

  p {
    @include fnc.breakpoint-up(medium) {
      margin-left: 2rem;
    }
  }

  .text {
    margin-top: fnc.rem(24);
    margin-bottom: fnc.rem(24);
  }

  .image_wrapper {
    width: min(100%, fnc.rem(500));
    height: auto;
    margin-left: fnc.rem(16);
    position: relative;
    float: right;

    // img {
    //   object-fit: contain;
    // }
  }

  h1 {
    font-size: clamp(fnc.rem(27), 4vw, fnc.rem(48));
    margin-bottom: fnc.rem(24);
    color: var(--color-primary-200);
    text-align: center;

    @include fnc.breakpoint-up(medium) {
      text-align: left;
    }
  }

  ul {
    list-style: circle;
    margin-left: fnc.rem(48);

    li {
      word-wrap: break-word;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      color: var(--color-primary-200);
    }
  }

  p {
    margin-top: fnc.rem(16);
  }

  pre {
    background-color: var(--color-primary-100);
    padding: fnc.rem(16);
    border-radius: fnc.rem(10);
    overflow: auto;

    @include fnc.breakpoint-up(medium) {
      margin-left: fnc.rem(40);
    }
  }

  code {
    font-size: fnc.rem(16);
    background-color: var(--color-primary-100);
  }
}
