@use "../../functions" as fnc;

.hero {
  width: min(fnc.rem(1440), 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: fnc.rem(24);
  text-align: center;
  padding-top: fnc.rem(75);
  padding-bottom: fnc.rem(75);

  @include fnc.breakpoint-up(medium) {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
    height: fnc.rem(812);
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: fnc.rem(24);

    @include fnc.breakpoint-up(medium) {
      align-items: flex-start;
    }
  }

  .supertitle {
    font-size: clamp(fnc.rem(20), 2vw, fnc.rem(30));
  }

  .title {
    font-size: clamp(fnc.rem(50), 6.5vw, fnc.rem(100));
    color: var(--color-primary-200);
  }

  .subtitle {
    font-size: clamp(fnc.rem(20), 2vw, fnc.rem(30));
  }

  .text {
    font-size: clamp(fnc.rem(27), 2vw, fnc.rem(35));
  }

  .button {
    width: min(75%, fnc.rem(275));
    font-size: clamp(fnc.rem(20), 2vw, fnc.rem(30));
  }

  .iconGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-neutral-200);
      width: clamp(fnc.rem(80), 6.5vw, fnc.rem(120));
      height: clamp(fnc.rem(80), 6.5vw, fnc.rem(120));
      border-radius: fnc.rem(5);
      padding: clamp(fnc.rem(16), 1.5vw, fnc.rem(32));
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
