@use "/functions" as fnc;
.resume {
  width: min(fnc.rem(1440), 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background-image: url(./images/resume-bg.png);
  background-position: top center;
  background-repeat: none;
  background-size: cover;
  padding-top: fnc.rem(108);
  padding-bottom: fnc.rem(48);

  @include fnc.breakpoint-up(large) {
    background-image: none;
    margin-top: 0;
    padding-bottom: 0;
  }

  .top {
    @include fnc.breakpoint-up(large) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: fnc.rem(54);
    }
  }

  .title {
    font-size: clamp(fnc.rem(27), 4vw, fnc.rem(48));
    text-align: center;
    color: var(--color-primary-200);
  }
  .text_wrapper {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner_title {
    font-size: clamp(fnc.rem(27), 2vw, fnc.rem(40));
    text-align: center;
  }
  .text {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(fnc.rem(22), 3vw, fnc.rem(30));
  }

  ul {
    list-style: circle;
    padding-left: fnc.rem(48);
    padding-right: fnc.rem(48);

    li {
      font-size: clamp(fnc.rem(20), 3vw, fnc.rem(27));
      margin: 0;

      a {
        color: var(--color-neutral-100);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  a {
    width: min(50%, fnc.rem(275));
  }

  button {
    width: 100%;
    margin-top: fnc.rem(50);
    font-size: fnc.rem(20);
  }

  .image_wrapper {
    flex: 50%;

    img {
      max-height: fnc.rem(750);
    }
  }
}
