@use "/functions" as fnc;
@import url("https://fonts.googleapis.com/css2?family=Cantora+One&display=swap");

:root {
  --color-bg: hsl(207, 95%, 8%);
  --color-primary-100: hsl(356, 54%, 35%);
  --color-primary-200: hsl(2, 71%, 55%);
  --color-neutral-100: hsl(240, 3%, 88%);
  --color-neutral-200: hsl(2, 71%, 72%);

  --font-color: var(--color-neutral-100);
  --font: "Cantora One", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: var(--color-bg, black);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  color: var(--font-color, white);
  font-size: fnc.rem(18);
  // line-height: 1.1;

  &.open {
    overflow: hidden;
  }
}

a,
a:hover,
a:active {
  text-decoration: none;
}

//Visibility
.hide-for-mobile {
  //hide for tablet or mobile
  @include fnc.breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop or laptop
  @include fnc.breakpoint-up(large) {
    display: none;
  }
}

.container {
  padding: 0 fnc.rem(24);

  @include fnc.breakpoint-up(large) {
    padding: 0;
  }
}

.center-wrapper {
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.btn {
  border-radius: fnc.rem(5);
  background-color: var(--color-primary-200);
  padding: fnc.rem(10);
  border: none;
  font-family: inherit;
  color: var(--color-neutral-100, white);
}
