@use "/functions" as fnc;

.about {
  width: min(fnc.rem(1440), 100%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./images/about-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: fnc.rem(108);
  padding-bottom: fnc.rem(48);

  .bottom {
    display: flex;

    @include fnc.breakpoint-up(medium) {
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 0;
    }
  }

  @include fnc.breakpoint-up(large) {
    background-image: none;
  }

  .image_wrap {
    flex: 50%;
    max-width: fnc.rem(500);
    max-height: fnc.rem(750);
    position: relative;
  }

  .right {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include fnc.breakpoint-up(large) {
      padding-top: fnc.rem(25);
      padding-bottom: fnc.rem(25);
    }
  }

  .title {
    font-size: clamp(fnc.rem(27), 4vw, fnc.rem(48));
    text-align: center;
    color: var(--color-primary-200);

    @include fnc.breakpoint-up(large) {
      text-align: left;
    }
  }

  .text_wrap {
    width: min(100%, fnc.rem(720));

    * + * {
      margin-top: fnc.rem(24);
    }
  }
  .text {
    font-size: clamp(fnc.rem(22), 3vw, fnc.rem(27));
  }

  .links {
    margin-top: fnc.rem(24);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .link {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-100);
    width: fnc.rem(50);
    height: fnc.rem(50);
    border-radius: fnc.rem(5);
    transition: background-color 350ms ease;

    &:hover {
      background-color: var(--color-hover);
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a img {
      width: fnc.rem(25);
      height: auto;
      margin: auto;
    }
  }

  button {
    margin-top: fnc.rem(25);
    width: min(75%, fnc.rem(275));
    font-size: fnc.rem(20);
    align-self: center;
  }
}
